{% extends "mainpage.html"%}
{% block content %}
<h2 class="title">{{pagetitle}}</h2><br/>
	<ol>
		{% for actor in actors %}
		<li>		
				<a href="/actors/{{actor.id}}"><h3>{{actor.Nom}}  {{actor.Cognom}}</h3></a>
				{% if user.id == actor.user.id %}
					<a href="/actors/{{actor.id}}/edit"> (Edit Actor)</a>
					<a href="/actors/{{actor.id}}/delete"> (Delete Actor)</a>
				{% endif %}
		</li>
		{% endfor %}
	</ol>
<div style="background-color:orange;text-align:center;width:300">
	<a href="/actors/create">Add Actor</a></div>
{% endblock %}}
