{% extends "mainpage.html"%}
{% block content %}
<h2 class="title">{{pagetitle}}</h2><br/>
	<ol>
		{% for director in directors %}
		<li>
			<a href="/directors/{{director.id}}"><h3>{{director.Nom}}  {{director.Cognom}}</h3></a>
			{% if user.id == director.user.id %}
				<a href="/directors/{{director.id}}/edit"> (Edit Director)</a>
				<a href="/directors/{{director.id}}/delete"> (Delete Director)</a>
			{% endif %}
		</li>
		{% endfor %}
	</ol>
{% if user.id %}
<div style="background-color:orange;text-align:center;width:300">
	<a href="/directors/create">Add Director</a></div>
{% endif %}
{% endblock %}
