<html>
	<head>
	<style type="text/css">
	body{background-color: #d8da3d}
	</style>
	<title>{{titlehead}}</title>
	</head>
<body>
	<h1>{{pagetitle}}</h1>
	{% if user.username %}
		<p>Benvingut {{ user.username }}, aquí podrà gestionar les seves pelicules.</p>

		<A HREF = "/generes">
			<input type="button" value="Generes" style='width:300px; height:50px'></a>
		<A HREF = "/pelicules">
			<input type="button" value="Pelicules" style='width:300px; height:50px'></a>
		<A HREF = "/actors">
			<input type="button" value="Actors" style='width:300px; height:50px'></a>
		<A HREF = "/directors">
			<input type="button" value="Directors" style='width:300px; height:50px'></a>
	{% else %}
		<p>Benvingut usuari, obligatori fer <a href="/login/">login</a> per gestionar pelicules.</p>
	{% endif %}
</body>
</html>
