<html>
	<head>
	<title>{{titlehead}}</title>
	</head>
<body>
	<h1>{{pagetitle}}</h1>
	<table>
	<tr>
		<td><A HREF = "http://127.0.0.1:8000/generes">
			<input type="button" value="Generes" style='width:400px; height:50px'></a></td>

		<td><A HREF = "http://127.0.0.1:8000/pelicules">
			<input type="button" value="Pelicules" style='width:400px; height:50px'></a></td>
	</tr>
	<tr>
		<td><A HREF = "http://127.0.0.1:8000/actors">
			<input type="button" value="Actors" style='width:400px; height:50px'></a></td>

		<td><A HREF = "http://127.0.0.1:8000/directors">
			<input type="button" value="Directors" style='width:400px; height:50px'></a></td>
	</tr>
	</table>
</body>
</html>
