{% extends "mainpage.html"%}
{% load static %}
{% block content %}
<h1>{{ pelicula.Titol }}</h1>
	<img src={{pelicula.Foto}} heigth=400 width=200/>
			
	<p><b>Argument:</b> {{pelicula.Argument}}</p>
	<p><b>Data:</b> {{pelicula.Data}}</p>
	<p><b>Director:</b> <a href="/directors/{{pelicula.Director.id}}">{{pelicula.Director}}</a></p>
	<p><b>Actors/Actrius:</b></p>
	<ol>
		{% for actor in actors %}
		<li>
			<p><a href="/actors/{{actor.id}}">{{actor}}</a></p>
		</li>
		{% endfor %}
	</ol>
{% endblock %}
