{% extends "mainpage.html"%}
{% block content %}
<h2 class="title">{{pagetitle}}</h2><br/>
<ol>
	{% for pelicula in pelicules %}
	<li>
		<a href="/pelicules/{{pelicula.id}}"><h3>{{pelicula.Titol}}</h3></a>
		{% if user.id == pelicula.user.id %}
			<a href="/pelicules/{{pelicula.id}}/edit"> (Edit Movie)</a>
			<a href="/pelicules/{{pelicula.id}}/delete"> (Delete Movie)</a>
		{% endif %}
	</li>
	{% endfor %}
</ol>
{% if user.id %}
<div style="background-color:orange;text-align:center;width:300">
	<a href="/pelicules/create">Add Movie</a></div>
{% endif %}
{% endblock %}

